---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import cards from "../data/data.json";
import { GridTemplate } from "../components/react/grid-template/GridTemplate";
---

<Layout title="Grid-card">
  <Header title="Grid-card" />
  <main class="wrapper">
    <h2 class="title">Platos de comida 🥑</h2>

    <GridTemplate initalCards={cards} client:visible />
  </main>
</Layout>
