---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/header/Header.astro";
import cards from "../data/data.json";
---

<Layout title="Flex-card">
  <Header title="Flex-card" />
  <main class="wrapper">
    <h2 class="title">Platos de comida 🥑</h2>
    <div class="cards">
      {
        cards.map((card) => (
          <Card
            title={card.title}
            image={card.image}
            description={card.description}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style>
  .cards {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>
